# MongoDB Connection Settings
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_CLUSTER=
MONGO_APP_NAME=

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# Server Configuration
BACKEND_PORT=3002
FRONTEND_PORT=8081

# Other Configuration
NODE_ENV=