# backend/.env is only used by Node.js when running locally

# MongoDB Connection Settings
MONGO_USERNAME=
MONGO_PASSWORD=
MONGO_CLUSTER=
MONGO_APP_NAME=

# Server Configuration
PORT=3002

# Other Configuration
NODE_ENV=

# JWT Authentication
JWT_SECRET=your_jwt_secret_key_here

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
